.web-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    transition: all .5s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
}

.web-dialog .content-node {
    position: fixed;
    top: calc(50% + 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-height: 90%;
    transition: all .5s ease;
}

.web-dialog.show {
    opacity: 1;
    visibility: visible;
}

.web-dialog.show .content-node {
    top: 50%;
}

.web-dialog .close-button {
    display: block;
    margin: 0;
    padding: 16px;
    border: none;
    border-radius: 24px;
    position: fixed;
    top: 2%;
    right: 2%;
    color: #fff;
    background: rgba(0, 0, 0, .7);
    cursor: pointer;
    z-index: 1000;
    transition: all .5s ease;
}

.web-dialog .close-button:hover {
    color: #fff;
    background: rgba(255, 255, 255, .7);
}